.inputBar {
  width: 300px;
  padding: 10px 20px;
  border-radius: 20px;

  margin: auto;
  font-size: 1rem;
  color: white;

  border: 1px solid lightgray;
  background-color: transparent;
  outline: none;
  /* position: relative; */
}

.inputBtn {
  width: 45px;
  margin: 5px 0 0 5px;
  padding: 8px;
  height: 40px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  height: inherit;
  border-radius: 50%;
  color: white;
  /* margin:50px; */
  border: none;
  background-color: transparent;
}

.container {
  width: 100%;
}

.ul {
  width: 400px;
  background-color: transparent;
  position: absolute;
  top: 50px;
  left: 0;
  width: 300px;
  list-style-type: none;
  margin: 0;
  /* padding: 5px 20px; */
  border-radius: 10px;
}

p {
  /* padding-top: 3px; */

  /* border-bottom: 2px solid lightgray; */
  margin: 0px;

  font-size: 1rem;
  cursor: pointer;
  padding: 10px 20px;
  width: 100%;
  color: gray;


}

p:hover {
  color: white;
}

.App {
  width: 400px;
  margin: 50px auto;
  position: relative;


}

html {
  background-color: rgb(26, 26, 26);
}

.cancelBtn {
  background-color: transparent;
  border: none;
  color: red;
  position: absolute;
  right: 70px;
  bottom: 13px;
  width: 30px;
  height: 20px;
  font-size: 20px;
  cursor: pointer;

}